body {
    background-color: rgb(fff);
    padding-left: 5%;
    padding-right: 5%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
}
header {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: xx-large;
}
main {
    padding-left: 5%;
    padding-right: 5%;
}
footer{
    text-align: right;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

section{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}

.intro{
    width: 66%;
}

td{
    overflow-x:auto;
    border: 1px solid;
    width: 33%;
}

.story{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(fff);
    padding-top: 5%;
    padding-bottom: 2%;
}
.dialog{
    padding-left: 5%;
}