body {
    background-color: rgb(196, 203, 210);
    padding-left: 5%;
    padding-right: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
header {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
main {
    padding-left: 5%;
    padding-right: 5%;
}
footer{
    text-align: right;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}
section{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}

.story{
    background-color: rgb(252, 247, 205);
    padding-top: 2%;
    padding-bottom: 2%;
}
.dialog{
    padding-left: 5%;
}